/* NAVIGATION STUFF GOES HERE  */

header {
    .phone {
        padding: 0;
    }
}

#theButton {
    display: none;
}

#theNav {
    grid-template-rows: 1fr;
}

#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: 0.4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#navWrapper {
    border-bottom: 1px solid black;
}

.cardParent {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    div {
        flex-basis: calc(50% - ($gutter / 2));
    }
}

.carHeroImage {
    p {
        font-size: 3rem;
        max-width: 300px;
    }
}

#cards {
    margin: 0 4rem;
}